* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  *::-webkit-input-placeholder, *:-moz-placeholder, *::-moz-placeholder, *:-ms-input-placeholder {
    color: #666;
    opacity: 1; }

body input:focus:required:invalid, body textarea:focus:required:invalid, body input:required:valid, body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #000; }

html, body {
  overflow-x: hidden; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 115px 0 0; }

footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background: #ddda3c;
  padding: 42px 0 40px; }
  footer .list-social {
    margin: 0 54px 0 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 50px;
  border: 1px solid #ededed;
  font-size: 15px; }

input:hover, input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

textarea:hover, textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

label {
  width: 100%;
  display: block;
  margin: 0 0 15px; }

.form button {
  padding: 10px 20px;
  margin: 0 auto; }

.btn, button {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 0; }

.btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

button:hover, button:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }

.btn-accent {
  background: #ddda3c;
  color: #161800;
  -webkit-box-shadow: 0 10px 10px rgba(221, 218, 60, 0.4);
  box-shadow: 0 10px 10px rgba(221, 218, 60, 0.4); }
  .btn-accent:hover {
    background: #ededed;
    color: #161800; }

.btn-border {
  background: transparent;
  border: solid 1px #161800; }
  .btn-border:hover {
    background: #ddda3c;
    border-color: #ddda3c;
    color: #161800; }

.btn-white {
  background: #fff;
  color: #000; }
  .btn-white:hover {
    background: #ddda3c;
    color: #000; }

.btn-black {
  background: #000;
  color: #fff; }
  .btn-black .btn-icon {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1); }
  .btn-black:hover {
    color: #fff;
    background: #ddda3c; }

.btn-icon {
  max-width: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.container {
  max-width: 1830px; }

.slick-slide {
  outline: none; }

.box-text {
  font-size: 18px;
  line-height: 1.44; }
  .box-text strong {
    font-size: 23px; }
  .box-text p {
    margin: 0 0 13px; }
    .box-text p:last-child {
      margin: 0; }

strong {
  display: inline-block;
  font-weight: 600; }

.slick-arrow {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background: #fff;
  outline: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
  opacity: 1;
  border: none; }
  .slick-arrow:hover {
    background: #ddda3c; }

.slick-prev {
  background: #fff url("../img/arrow-left.png") no-repeat center;
  background-size: 7px; }
  .slick-prev:hover {
    background: #ddda3c url("../img/arrow-left.png") no-repeat center;
    background-size: 7px; }

.slick-next {
  background: #fff url("../img/arrow-right.png") no-repeat center;
  background-size: 7px; }
  .slick-next:hover {
    background: #ddda3c url("../img/arrow-right.png") no-repeat center;
    background-size: 7px; }

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.home-slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .home-slider-nav .slick-arrow {
    border: 1px solid #000;
    background-color: transparent; }
    .home-slider-nav .slick-arrow:hover {
      background-color: #ddda3c; }
  .home-slider-nav .slick-next {
    margin: 0 0 0 -1px; }

h2 {
  font-size: 45px;
  font-weight: bold;
  width: 100%;
  color: #000;
  line-height: 0.9; }

.bg-accent {
  background: #ddda3c; }

.mb-30 {
  margin-bottom: 30px; }

header {
  background: #ddda3c;
  padding: 22px 0 29px;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%; }

.fixed {
  background: rgba(221, 218, 60, 0.5); }

.logo {
  max-width: 297px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500; }
  .menu li {
    margin: 0 35px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #000;
      position: relative; }
      .menu li a:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -14px;
        height: 3px;
        width: 0;
        background: #161800;
        -webkit-transition: .3s ease;
        transition: .3s ease; }
      .menu li a:hover {
        font-weight: bold;
        color: #000; }
        .menu li a:hover:before {
          width: 52px; }

.phone {
  color: #fff;
  padding: 13px 20px;
  background: #161800;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-shadow: 0 10px 10px rgba(22, 24, 0, 0.4);
  box-shadow: 0 10px 10px rgba(22, 24, 0, 0.4); }
  .phone:hover {
    color: #ddda3c; }

.btn-burger {
  margin: 0 0 0 20px;
  width: 30px;
  height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  display: none; }
  .btn-burger span {
    background: #161800;
    width: 100%;
    display: block;
    height: 3px; }

.mobile-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  max-width: 290px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #ddda3c;
  color: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 0 10px rgba(221, 218, 60, 0.4);
  box-shadow: 0 0 10px rgba(221, 218, 60, 0.4);
  display: none; }
  .mobile-menu .menu {
    margin: 30px 0 0; }
    .mobile-menu .menu li {
      margin: 0 0 20px;
      width: 100%; }
  .mobile-menu .list-social {
    margin: 20px 0 0; }

.btn-close {
  width: 24px;
  height: 24px;
  margin: 0 0 20px auto;
  position: relative;
  cursor: pointer; }
  .btn-close:before, .btn-close:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #000;
    left: 12px;
    top: 0; }
  .btn-close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .btn-close:after {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }

.list-social {
  margin: 0 54px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .list-social li {
    margin: 0 15px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border: solid 1px #000;
      width: 36px;
      height: 36px;
      padding: 7px; }
      .list-social li a:hover {
        background: #ededed; }

.home {
  position: relative; }
  .home .slider-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2; }

.home-slider {
  position: relative; }
  .home-slider .slick-dots {
    bottom: 58px; }

.slick-dots {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .slick-dots li {
    width: 11px;
    height: 11px;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    border-radius: 50%;
    background: #fff;
    position: relative;
    border: none;
    margin: 0 28px 0 0; }
    .slick-dots li:last-child {
      margin: 0; }
    .slick-dots li:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 28px;
      height: 28px; }
    .slick-dots li button {
      display: none; }
  .slick-dots .slick-active:before {
    background: rgba(255, 255, 255, 0.38); }

.home-slider-box {
  position: relative;
  z-index: 1; }
  .home-slider-box:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .27;
    z-index: 1; }
  .home-slider-box .btn {
    font-size: 19.5px;
    max-width: 240px;
    width: 100%;
    height: 55px;
    padding: 0 25px 0 30px; }
  .home-slider-box .container {
    position: relative;
    z-index: 2; }

.home-slider__bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0; }

.home-slider-box__title {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  line-height: .96;
  max-width: 550px;
  width: 100%; }

.home-slider-box__content {
  position: relative;
  z-index: 1;
  width: 100%;
  color: #fff;
  padding: 388px 0 105px; }
  .home-slider-box__content:before {
    content: '';
    position: absolute;
    left: -132px;
    height: 100%;
    top: 0;
    width: 1064px;
    background: url("../img/shadow-home.png") no-repeat center;
      background-size: cover;
    z-index: -1; }
  .home-slider-box__content .box-text {
    max-width: 478px;
    margin: 31px 0 0 0;
    font-weight: 500; }
  .home-slider-box__content .btn {
    margin: 50px 0 0 auto; }

.choosing-a-home {
  position: relative;
  padding: 112px 0 97px; }
  .choosing-a-home h2 {
    font-size: 87.5px; }
  .choosing-a-home .box-text {
    margin: 49px 0 39px;
    max-width: 470px;
    width: 100%;
    padding: 10px 0 10px 28px;
    border-left: 7px solid #d0c622;
    line-height: 1.17; }

.box-offer-text {
  position: relative;
  line-height: 1.67;
  font-size: 15px; }

.choosing-a-home__content {
  padding: 128px 154px 152px 570px;
  border: solid 10.2px #d0c622; }

.choosing-a-home__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 910px;
  position: relative;
  z-index: 1; }
  .choosing-a-home__img img {
    width: 100%; }

.type-cottage {
  padding: 0 0 107px; }
  .type-cottage h2 {
    margin: 0 0 40px; }
  .type-cottage .nav-tabs .nav-item {
    width: 20%;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto; }

.nav-tabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  line-height: 0.87;
  font-size: 25px;
  font-weight: bold; }
  .nav-tabs .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 -1px 0 0; }
    .nav-tabs .nav-item:last-child {
      margin: 0; }
  .nav-tabs .nav-link {
    border: solid 1px #ddda3c;
    border-radius: 0;
    height: 79px;
    padding: 10px;
    color: #000;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0; }
    .nav-tabs .nav-link.active {
      background: #ddda3c;
      border: 1px solid #ddda3c;
      color: #000; }

.type-cottage__img {
  width: 60%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .type-cottage__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .type-cottage__img .img-plane-house {
    display: none;
    height: auto;
    -o-object-fit: contain;
    object-fit: contain; }

.btn-plane {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  font-size: 9.5px;
  font-weight: bold;
  padding: 0 11px 0 14px;
  height: 38px;
  max-width: 103px;
  width: 100%; }
  .btn-plane .btn-icon {
    width: 6px; }

.type-cottage-content__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.type-cottage__content {
  width: 40%;
  padding: 29px 85px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.type-cottage__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 25px;
  position: relative; }

.square-product {
  font-size: 53px;
  font-weight: 600;
  line-height: 0.87;
  position: relative; }
  .square-product sup {
    font-size: 34px; }

.square-product__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: -60px;
  width: 37px;
  height: 37px; }

.square-product__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.square-product-gallery {
  display: none; }

.btn-print {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.description-product {
  margin: 0 0 46px;
  color: #808080;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.03;
  max-width: 500px; }

.subtitle-product {
  margin: 0 0 18px;
  font-size: 50px;
  font-weight: bold;
  line-height: .77;
  color: #ddda3c; }

.price {
  margin: 0 0 35px;
  color: #ddda3c;
  font-size: 84px;
  font-weight: bold;
  line-height: 0.87; }

.price-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 0.88;
  font-size: 16px;
  padding: 21px 0;
  width: 100%; }
  .price-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: -85px;
    height: 100%;
    width: 2500px;
    background: #ededed;
    z-index: -1; }
  .price-wrapper .btn {
    height: 47px;
    font-size: 15px;
    font-weight: normal;
    padding: 0 24px 0 22px;
    max-width: 235px;
    width: 100%; }
    .price-wrapper .btn strong {
      font-weight: bold; }

.details-info {
  margin: 22px 0 auto;
  width: 100%; }
  .details-info h4 {
    margin: 0 0 21px;
    font-weight: bold; }

.list-characteristics {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #808080; }
  .list-characteristics li {
    width: 47%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 0 20px;
    position: relative; }
    .list-characteristics li:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 2px;
      height: 1px;
      width: 100%;
      border-bottom: 1px dotted #ededed; }
  .list-characteristics p {
    position: relative;
    padding: 0 5px 0 0;
    background: #fff; }
  .list-characteristics span {
    font-weight: bold;
    color: #000;
    background: #fff;
    padding: 0 0 0 4px;
    position: relative;
    display: inline-block; }
    .list-characteristics span sup {
      font-size: 13px; }

.btn-reserved {
  width: 100%;
  height: 97px;
  font-size: 35px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.tab-content .container {
  padding: 0; }

.logo-company {
  max-width: 847px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin: 0 0 0 auto; }

.about {
  background: url("../img/about-img.jpg") no-repeat center;
    background-size: cover;
  overflow: hidden;
  padding: 0 0 350px; }

.about-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 870px;
  width: 100%;
  position: relative;
  padding: 79px 178px 78px 0; }
  .about-content:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 994px;
    height: 586px;
    background: url("../img/about-shadow.png") no-repeat center;
      background-size: cover;
    mix-blend-mode: screen; }
  .about-content > * {
    position: relative;
    z-index: 1; }
  .about-content .box-text {
    font-size: 25px;
    line-height: 1.36;
    max-width: 550px;
    width: 100%; }
  .about-content h3 {
    margin: 0 0 18px;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.06; }

.master-plan {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 0 116px; }

.master-plan-img {
  width: 100%;
  height: 100%;
  background: #ededed; }
  .master-plan-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.master-plan-box {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 15px 75px; }
  .master-plan-box:before {
    content: '';
    position: absolute;
    right: -306px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background: url("../img/plan-shadow.png") no-repeat center;
      background-size: 100%;
    mix-blend-mode: screen;
    width: 1831px;
    height: 836px; }
  .master-plan-box > * {
    position: relative;
    z-index: 1; }
  .master-plan-box .box-text {
    max-width: 650px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.39; }

.master-plan-box__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 0 0 24px;
  width: 100%; }
  .master-plan-box__head h2 {
    max-width: 430px; }

.square {
  padding: 0 30px 0 0;
  border-right: 2px solid #000;
  margin: 0 33px 0 0; }
  .square .box-text {
    font-size: 17px;
    line-height: 1.24;
    max-width: 210px; }

.square-val {
  font-weight: bold;
  line-height: 0.79;
  font-size: 109px;
  margin: 0 0 15px -15px; }
  .square-val span {
    line-height: 0.8;
    font-size: 50px;
    margin: 0 0 0 -25px; }

.accommodation {
  padding: 101px 0 0; }
  .accommodation h2 {
    max-width: 1200px;
    width: 100%;
    margin: 0 0 21px; }

.accommodation-img {
  width: 1373px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 1;
  height: 100%;
  margin: 0 0 -140px; }

.accommodation-content {
  margin: 0 0 67px; }
  .accommodation-content h3 {
    position: relative;
    z-index: 1;
    font-size: 45px;
    font-weight: bold;
    max-width: 500px;
    width: 100%;
    line-height: 0.9;
    color: #ddda3c;
    margin: 0 0 22px; }
  .accommodation-content .box-text {
    max-width: 640px;
    width: 100%;
    font-size: 25px;
    line-height: 1.36; }

.advantages {
  padding: 100px 0 70px; }

.advantages-box {
  margin: 0 auto;
  height: 100%;
  max-width: 380px;
  width: 100%;
  border: solid 2px #fff;
  padding: 38px 30px 47px 35px;
  color: #000; }
  .advantages-box h3 {
    font-size: 23px;
    font-weight: bold;
    margin: 32px 0 10px; }

.advantages-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 112px; }
  .advantages-box__icon img {
    max-height: 100%; }

.advantages-box .box-text {
  line-height: 1.28; }

.advantages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: solid 10.2px #d0c622;
  padding: 80px 70px 70px;
  z-index: -1; }

.advantages-section {
  z-index: 1;
  padding: 45px 0 50px;
  position: relative; }
  .advantages-section__bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    max-width: 1137px;
    width: 100%;
    height: 100%; }
    .advantages-section__bg img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.advantages-section__box {
  position: relative;
  z-index: 1;
  margin: 0 0 33px; }
  .advantages-section__box:last-child {
    margin: 0; }
  .advantages-section__box h3 {
    font-size: 45px;
    margin: 0 0 8px;
    font-weight: bold;
    color: #000; }
  .advantages-section__box .box-text {
    line-height: 1.25;
    font-size: 16px;
    max-width: 480px;
    width: 100%; }

.sales-conditions-wrapper {
  background: url("../img/bg1.jpg") no-repeat center;
  background-size: cover;
  padding: 87px 0 58px; }
  .sales-conditions-wrapper h2 {
    font-size: 128px;
    line-height: 0.79; }
  .sales-conditions-wrapper .box-text {
    font-size: 25px; }

.bid {
  margin: 22px 0 13px;
  font-size: 74px;
  font-weight: bold;
  color: #ddda3c;
  line-height: 0.8; }

.list-bank {
  margin: 32px 0 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: solid 1px #161800;
  padding: 8px 40px; }
  .list-bank .box-text {
    font-size: 17px;
    line-height: 1;
    padding: 15px 0 15px 40px;
    border-left: solid 1px #161800;
    max-width: 130px; }

.list-bank__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sales-conditions__content {
  width: 100%;
  max-width: 761px; }
  .sales-conditions__content .btn {
    margin: 0 0 0 auto;
    font-size: 19.5px;
    height: 52px;
    max-width: 243px;
    width: 100%;
    padding: 0 24px 0 33px; }
    .sales-conditions__content .btn .btn-icon {
      width: 10px; }

.sales-conditions-list {
  width: 100%;
  padding: 45px 0 55px; }

.sales-conditions-list__box {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 0 120px 0 0;
  border-right: 2px solid #ddda3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.sales-conditions-list .box-text {
  font-size: 16px;
  line-height: 1.25;
  margin: 0 0 auto; }

.sales-conditions-list .btn {
  margin: 22px 0 0 auto;
  height: 41px;
  max-width: 193px;
  width: 100%;
  padding: 0 19px 0 27px;
  font-size: 15.5px; }
  .sales-conditions-list .btn .btn-icon {
    width: 8px; }

.sales-conditions-list h3 {
  font-size: 23px;
  font-weight: bold;
  margin: 15px 0 13px; }

.sales-conditions-list__box-two {
  padding: 0 80px; }

.sales-conditions-list__box-three {
  border: none;
  padding: 0 0 0 120px; }
  .sales-conditions-list__box-three .box-text {
    max-width: 250px; }

.sales-conditions-list__box-wrap {
  max-width: 390px;
  width: 100%;
  height: 100%; }

.location {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .location .tab-content {
    width: calc(100% - 783px); }
  .location .tab-pane {
    width: 100%;
    height: 100%; }
  .location .nav-item {
    border-right: 1px solid #e3e15f; }
    .location .nav-item:last-child {
      border: none; }
  .location .nav-link {
    background: #ddda3c;
    font-size: 14px;
    font-weight: bold;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 24px 10px; }
    .location .nav-link__icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0 auto 12px; }
    .location .nav-link.active {
      color: #fff; }
      .location .nav-link.active img {
        -webkit-filter: brightness(0) invert(1);
                filter: brightness(0) invert(1); }
  .location .nav-tabs {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .location .nav-tabs .nav-item {
      margin: -1px 0 0;
      width: 100%; }

.location-map {
  width: 100%;
  height: 100%;
  max-height: 689px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }
  .location-map img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.location-content {
  padding: 120px 10px 50px 109px;
  max-width: 783px;
  width: 100%;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }
  .location-content .box-text {
    font-size: 25px;
    line-height: 1.36; }

.location-content__wrapper {
  max-width: 593px;
  width: 100%; }

.distance {
  margin: 36px 0 26px;
  color: #ddda3c;
  font-size: 45px;
  font-weight: bold;
  max-width: 380px;
  width: 100%;
  line-height: 1; }

.copyright {
  margin: 20px 0 0 auto;
  font-size: 10px;
  max-width: 435px;
  width: 100%; }

.news {
  padding: 78px 0 111px; }
  .news h2 {
    margin: 0 0 49px; }

.news-box {
  width: 100%;
  margin: 0 0 30px;
  border: solid 1px #000; }
  .news-box:last-child {
    margin: 0; }
  .news-box__date {
    color: #acacac;
    font-size: 16px; }
  .news-box .btn {
    margin: 0 0 0 auto;
    border: solid 1px #161800;
    padding: 0 15px 0 17px;
    height: 29px;
    max-width: 132px;
    width: 100%;
    font-weight: bold;
    font-size: 10.5px; }
    .news-box .btn .btn-icon {
      width: 6px; }
  .news-box__footer {
    width: 100%;
    margin: auto 0 0;
    position: relative;
    z-index: 1; }
    .news-box__footer:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      width: calc(100% - 168px);
      height: 3px;
      background: #acacac; }
  .news-box__body {
    width: 100%;
    padding: 30px 48px 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .news-box__body .box-text {
      font-size: 23px;
      line-height: 1.04;
      color: #000;
      font-weight: bold;
      margin: 19px 0 24px; }

.news-box__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  height: 427px; }
  .news-box__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.news-box-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 302px; }
  .news-box-row .news-box__img {
    height: auto;
    width: 457px; }
  .news-box-row .news-box__body {
    width: calc(100% - 457px);
    padding: 50px 30px 20px; }
  .news-box-row .box-text {
    font-size: 16px; }
  .news-box-row .news-box__footer:before {
    width: 100%;
    height: 2px;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none;
    margin: 0 0 30px;
    display: block; }

.modal-content {
  border: none;
  padding: 30px; }

.modal-header, .modal-body {
  padding: 0;
  border: none; }

.modal-header {
  padding: 0 0 20px; }
  .modal-header .close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0;
    z-index: 1;
    opacity: 1; }
    .modal-header .close:before, .modal-header .close:after {
      content: '';
      position: absolute;
      left: 9px;
      top: 0;
      width: 2px;
      height: 100%;
      background: #000;
      border-radius: 3px; }
    .modal-header .close:before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .modal-header .close:after {
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg); }

.modal-body .box-text {
  font-size: 14px; }

.modal-title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 22px; }

.modal-dialog-scrollable .modal-body {
  overflow-y: visible; }

.modal-dialog-scrollable .modal-content {
  overflow-y: auto; }

.plane-modal .modal-dialog {
  max-width: 98%; }

.plane-img-scheme {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .plane-img-scheme img {
    width: 100%; }

/*==========  Desktop First  ========== */
@media only screen and (max-width: 1920px) {
  .accommodation-img {
    margin: 0 -40%; } }

@media only screen and (max-width: 1840px) {
  .square-val {
    margin: 0 0 16px; }
  .location-content .box-text {
    font-size: 26px; }
  .distance {
    font-size: 34px;
    margin: 40px 0 20px; }
  .type-cottage__img {
    min-width: auto; }
  h2 {
    font-size: 50px; } }

@media only screen and (max-width: 1800px) {
  .news-box {
    width: calc(100% - 20px); }
  .square-val {
    font-size: 90px; }
  .master-plan-box__head h2 {
    font-size: 40px;
    max-width: 300px; }
  .type-cottage__content {
    padding: 30px 60px 0; }
  .price {
    font-size: 70px; }
  .square-product__btn {
    width: 24px;
    height: 24px;
    left: -34px; }
  .price-wrapper:before {
    left: -60px; }
  .logo {
    max-width: 200px; }
  .menu li {
    margin: 0 24px 0 0; }
  .content {
    padding: 99px 0 0; }
  .subtitle-product {
    font-size: 40px; }
  .advantages-section__bg {
    max-width: 860px; } }

@media only screen and (max-width: 1600px) {
  .description-product {
    font-size: 28px; }
  .news-box__img {
    height: 300px; }
  .news-box-row {
    height: auto; }
    .news-box-row .news-box__img {
      width: 300px; }
    .news-box-row .news-box__body {
      width: calc(100% - 300px); }
      .news-box-row .news-box__body .box-text {
        margin: 15px 0; } }

@media only screen and (max-width: 1500px) {
  .menu li {
    margin: 0 20px 0 0; }
  .phone {
    font-size: 18px;
    padding: 10px 20px; }
  footer {
    padding: 30px 0 34px; }
  .news-box__body {
    padding: 20px; }
  .news-box__head {
    font-size: 18px;
    padding: 20px; }
  .news-box__img {
    height: 200px; }
  .news {
    padding: 50px 0 70px; }
  .home-slider-box__title {
    font-size: 60px;
    padding: 0; }
  .price {
    font-size: 40px; }
  .description-product {
    font-size: 18px;
    margin: 0 0 20px; }
    .description-product br {
      display: none; }
  .btn-reserved {
    height: 60px;
    font-size: 24px; }
  .square-product {
    font-size: 40px; }
    .square-product sup {
      font-size: 24px; }
  h2 {
    font-size: 40px; }
  .subtitle-product {
    font-size: 30px; }
  .type-cottage__content {
    padding: 30px 30px 0 50px; }
  .price-wrapper:before {
    left: -50px; }
  .type-cottage {
    padding: 80px 0; }
  .about-img .image {
    max-width: 420px; }
  .logo-company {
    max-width: 600px; }
  .accommodation-img {
    width: 1100px;
    margin: 0 -25%; }
  .accommodation {
    padding: 70px 0 0; }
    .accommodation .box-text {
      margin: 28px 0 40px; }
  .advantages-box h3 {
    font-size: 24px; }
  .sales-conditions-list__box {
    padding: 0 60px 0 0; }
  .sales-conditions-list__box-two {
    padding: 0 40px; }
  .sales-conditions-list__box-three {
    padding: 0 0 0 40px; }
  .advantages-section__box h3 {
    font-size: 30px; }
  .location-content {
    max-width: 540px;
    padding: 40px 30px; }
  .location .tab-content {
    width: calc(100% - 540px); }
  .content {
    padding: 94px 0 0; }
  .list-social {
    margin: 0 30px 0 0; }
  .master-plan-box__head h2 {
    font-size: 30px; }
  .advantages-section__bg {
    max-width: 650px; }
  .choosing-a-home__img {
    min-width: 580px; }
  .choosing-a-home__content {
    padding: 80px 40px 80px 300px; }
  .choosing-a-home h2 {
    font-size: 60px; }
  .choosing-a-home .box-text strong {
    font-size: 20px; } }

@media only screen and (max-width: 1280px) {
  .master-plan-box__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .master-plan-box__head h2 {
      max-width: none;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      margin: 0 0 20px; }
  .square {
    width: 100%;
    margin: 0;
    padding: 10px 0 0;
    border: none;
    border-top: 1px solid #ddda3c;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .square .box-text {
      max-width: 300px; }
  .master-plan-box {
    padding: 30px 20px; }
    .master-plan-box .box-text {
      font-size: 18px; }
  .square-val {
    font-size: 70px;
    margin: 0 10px 0 0; }
    .square-val span {
      font-size: 40px; }
  .location-content .box-text {
    font-size: 22px; }
  .menu {
    font-size: 16px; }
  .list-social {
    margin: 0 20px 0 0; }
  .logo {
    max-width: 170px; }
  .content {
    padding: 88px 0 0; }
  footer .list-social {
    margin: 0 20px 0 0; }
  .advantages-section__box {
    max-width: 400px; } }

@media only screen and (max-width: 1200px) {
  .logo {
    max-width: 160px; }
  .menu {
    font-size: 14px; }
    .menu li {
      margin: 0 15px 0 0; }
  .list-social li a {
    width: 30px;
    height: 30px;
    padding: 5px; }
  .phone {
    font-size: 16px; }
  h2 {
    font-size: 40px; }
  .home-slider-box__title {
    font-size: 40px; }
  .home-slider .slick-dots {
    bottom: 30px; }
  .master-plan-box .box-text {
    font-size: 14px;
    line-height: normal; }
  .about-content h3 {
    font-size: 22px; }
  .accommodation-content .box-text {
    font-size: 20px; }
  .accommodation-content h3 {
    font-size: 40px; }
  .advantages-box {
    padding: 30px; }
    .advantages-box h3 {
      font-size: 20px; }
  .sales-conditions-wrapper h2 {
    font-size: 80px; }
  .bid {
    font-size: 60px; }
  .sales-conditions-wrapper .box-text {
    font-size: 20px; }
  .advantages-section:before {
    width: 267px;
    height: 309px;
    top: -40px; }
  .advantages-section:after {
    width: 270px;
    height: 306px; }
  .location-content {
    max-width: 400px; }
  .location .tab-content {
    width: calc(100% - 400px); }
  .content {
    padding: 90px 0 0; }
  .subtitle-product {
    font-size: 40px;
    line-height: 1; }
  .master-plan-box__head h2 {
    font-size: 30px; }
  .news-box__body .box-text {
    font-size: 18px; }
  .news-box-row .news-box__body {
    padding: 20px;
    width: calc(100% - 250px); }
  .news-box-row .news-box__img {
    width: 250px; }
  .advantages-section__bg {
    max-width: none;
    width: 100%;
    position: relative; }
  .advantages-section__box {
    max-width: none; }
    .advantages-section__box .box-text {
      max-width: none; }
  .advantages-wrapper {
    margin: 0 0 30px;
    padding: 30px; }
  .choosing-a-home__content {
    padding: 30px; }
  .choosing-a-home__img {
    min-width: auto;
    width: 100%;
    margin: 30px 0 0; }
  .choosing-a-home {
    padding: 30px 0; }
    .choosing-a-home h2 {
      font-size: 40px; }
    .choosing-a-home .box-text {
      margin: 30px 0;
      max-width: none; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1100px) {
  header .menu, footer .menu {
    display: none; }
  header .logo, footer .logo {
    margin: 0 auto 0 0; }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media only screen and (max-width: 992px) {
  .home-slider-box__title {
    margin: 0 0 30px;
    font-size: 50px; }
  .type-cottage__img {
    width: 100%; }
  .type-cottage__content {
    width: 100%;
    padding: 30px 15px; }
  .square-product__btn {
    position: relative;
    left: 0;
    top: 0;
    display: inline-block;
    margin: 0 10px 0 0; }
  .nav-tabs {
    font-size: 20px; }
    .nav-tabs .nav-link {
      height: 70px; }
  .price {
    font-size: 30px;
    margin: 0 0 20px; }
  .about-content {
    max-width: none;
    width: 100%;
    padding: 80px 40px 50px 0; }
    .about-content:before {
      height: 550px; }
    .about-content .box-text {
      font-size: 16px; }
    .about-content h3 {
      margin: 0 0 30px; }
  .decor3 {
    right: -15px;
    max-width: 100px; }
  .accommodation-img {
    width: 100%;
    margin: 0 -15px 0 15px; }
  .accommodation-content h3 {
    font-size: 30px; }
  .accommodation-content .box-text {
    font-size: 18px; }
    .accommodation-content .box-text br {
      display: none; }
  .advantages {
    padding: 50px 0; }
  .distance {
    margin: 40px auto 10px;
    max-width: none;
    font-size: 30px; }
  .location-content {
    padding: 30px 15px;
    width: 100%;
    max-width: none; }
    .location-content .box-text {
      font-size: 20px; }
  .location-content__wrapper {
    max-width: none; }
  .location-map {
    height: 500px; }
  .location .tab-content {
    max-width: none;
    width: calc(100% + 30px);
    margin: 0 -15px; }
  .sales-conditions-list__box {
    padding: 0;
    border: none; }
    .sales-conditions-list__box .box-text {
      max-width: none; }
      .sales-conditions-list__box .box-text br {
        display: none; }
  .sales-conditions-list__box-wrap {
    max-width: none; }
  .sales-conditions-list__box-two {
    padding: 0; }
  .sales-conditions-list__box-three {
    padding: 0; }
  .location .nav-tabs .nav-item {
    width: 25%; }
  .location .nav-tabs .nav-link {
    height: 100%; }
  .copyright {
    margin: 20px auto 0;
    text-align: center; }
  .master-plan-box {
    position: relative;
    left: 0;
    bottom: 0; }
    .master-plan-box:before {
      display: none; }
  .news-box__img {
    height: 300px; }
  .news-box {
    margin: 0 0 30px; }
    .news-box:last-child {
      margin: 0 0 30px; } }

@media only screen and (max-width: 768px) {
  footer {
    padding: 20px 0 24px; }
  .master-plan {
    margin: 0 0 40px; }
  h2, .master-plan-box__head h2 {
    font-size: 30px; }
  .news h2 {
    margin: 0 0 30px; }
  .choosing-a-home {
    padding: 40px 0; }
  .square {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .square-val {
    font-size: 60px;
    margin: 0 0 10px; }
    .square-val span {
      font-size: 30px;
      margin: 0; }
  .master-plan-box {
    padding: 20px 0; }
    .master-plan-box .box-text {
      max-width: none; }
  .type-cottage h2 {
    margin: 0 0 30px; }
  .about-img .image {
    max-width: 300px; }
  .decor2 {
    z-index: 0; }
  .sales-conditions-wrapper h2 {
    font-size: 60px; }
  .bid {
    font-size: 30px; }
  .sales-conditions-wrapper {
    padding: 40px 0 30px; }
  .list-bank {
    padding: 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .list-bank .box-text {
      width: 100%;
      max-width: none;
      text-align: center;
      border: none;
      border-top: 1px solid #000;
      padding: 10px 0 0;
      margin: 20px 0 0; }
  .type-cottage .nav-tabs .nav-item {
    width: 50%; }
  .list-social li {
    margin: 0 5px 0 0; }
  .location .nav-tabs .nav-item {
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    margin: 0;
    border: none; }
  .location .nav-tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .advantages-section__box h3 {
    font-size: 22px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .news-box {
    width: 100%; }
  .home-slider-box__title {
    font-size: 40px;
    line-height: normal; }
  .home-slider-box__content {
    padding: 200px 0 130px; }
  .nav-tabs .nav-item {
    width: 33.3%;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto; }
  .type-cottage__img {
    height: 400px; }
  .about-img {
    padding: 30px; }
  .logo-company {
    max-width: 300px; }
  .about-img .image {
    max-width: 200px; }
  .about-content .box-text {
    font-size: 18px; }
  .type-cottage {
    padding: 40px 0; }
  .accommodation-content h3 {
    font-size: 24px; }
  .location-map {
    height: 400px; }
  .location .nav-tabs .nav-item {
    width: 33.3%;
    font-size: 16px; }
  header .list-social, footer .list-social {
    display: none; }
  .subtitle-product {
    font-size: 30px; }
  .copyright {
    font-size: 10px; }
  .news-box-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .news-box-row .news-box__img {
      width: 100%;
      height: 300px; }
    .news-box-row .news-box__body {
      width: 100%; }
  .about {
    padding: 0; }
  .about-content {
    height: 100%;
    padding-right: 0; }
    .about-content:before {
      width: 600px;
      height: 100%;
      right: auto;
      left: -15px; } }

@media only screen and (max-width: 480px) {
  .logo {
    max-width: 120px; }
  .phone {
    font-size: 14px;
    padding: 5px 10px; }
  .btn-burger {
    width: 20px;
    height: 14px;
    margin: 0 0 0 10px; }
    .btn-burger span {
      height: 2px; }
  .price-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .mortgage-val {
    margin: 0 0 10px; }
  .nav-tabs .nav-item {
    width: 50%; }
  .list-characteristics li {
    width: 100%;
    margin: 0 0 10px; }
  .btn-reserved {
    font-size: 20px;
    height: 50px; }
  .square-product__btn {
    width: 30px;
    height: 30px; }
  .type-cottage__img {
    height: 300px; }
  .location-map {
    height: 300px; }
  .distance {
    font-size: 24px; }
  .location-content .box-text {
    font-size: 18px; }
  .list-bank__item {
    width: 50%;
    margin: 0 0 10px; }
  .sales-conditions-wrapper h2 {
    font-size: 50px; }
  .sales-conditions-wrapper .box-text {
    font-size: 18px; }
  .location .nav-tabs .nav-item {
    width: 50%; }
  .content {
    padding: 79px 0 0; }
  .choosing-a-home__content {
    padding: 20px;
    border-width: 5px; }
  .choosing-a-home .box-text strong {
    font-size: 18px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 360px) {
  .phone {
    font-size: 12px; }
  .logo {
    max-width: 110px; }
  header {
    padding: 15px 0 20px; }
  .decor1 {
    max-width: 120px; }
  .decor2 {
    max-width: 100px; }
  .decor3 {
    max-width: 80px; }
  .content {
    padding: 60px 0 0; }
  .news-box__img {
    height: 250px; }
  .news-box-row .news-box__img {
    height: 250px; } }
