@import "vars"

/*==========  Desktop First  ==========
@media only screen and (max-width: 1920px)
  .accommodation-img
    margin: 0 -60% -140px


@media only screen and (max-width: 1840px)
  .square-val
    margin: 0 0 16px

  .location-content .box-text
    font-size: 26px

  .distance
    font-size: 34px
    margin: 40px 0 20px


  .type-cottage__img
    min-width: auto

  h2
    font-size: 50px

  //.advantages-section__bg
  //  max-width: 900px

@media only screen and (max-width: 1800px)
  .news-box
    width: calc(100% - 20px)

  .square-val
    font-size: 90px

  .master-plan-box__head h2
    font-size: 40px
    max-width: 300px

  .type-cottage__content
    padding: 30px 60px 0

  .price
    font-size: 70px

  .square-product__btn
    width: 24px
    height: 24px
    left: -34px

  .price-wrapper:before
    left: -60px

  .logo
    max-width: 200px

  .menu li
    margin: 0 20px 0 0

  .content
    padding: 99px 0 0

  .subtitle-product
    font-size: 40px

  //.advantages-section__bg
  //  max-width: 860px

  .choosing-a-home__img
    min-width: 700px

  .choosing-a-home__content
    padding: 100px 104px 100px 390px



@media only screen and (max-width: 1600px)
  .description-product
    font-size: 28px

  .news-box__img
    height: 300px

  .news-box-row
    height: auto
    .news-box__img
      width: 300px
    .news-box__body
      width: calc(100% - 300px)
      .box-text
        margin: 15px 0

  .list-social
    margin: 0 20px 0 0

  .choosing-a-home h2
    font-size: 60px

  .phone
    font-size: 18px
    padding: 10px 20px

  .logo
    max-width: 140px

  .content
    padding: 93px 0 0

  //.advantages-section__bg
  //  max-width: 700px

@media only screen and (max-width: 1500px)
  .menu
    font-size: 14px

  footer
    padding: 30px 0 34px

  .news-box__body
    padding: 20px

  .news-box__head
    font-size: 18px
    padding: 20px

  .news-box__img
    height: 200px

  .news
    padding: 50px 0 70px

  .home-slider-box__title
    font-size: 60px
    padding: 0

  .price
    font-size: 40px

  .description-product
    font-size: 18px
    margin: 0 0 20px

    br
      display: none

  .btn-reserved
    height: 60px
    font-size: 24px

  .square-product
    font-size: 40px

    sup
      font-size: 24px

  h2
    font-size: 40px

  .subtitle-product
    font-size: 30px



  .type-cottage__content
    padding: 30px 30px 0 50px

  .price-wrapper:before
    left: -50px

  .type-cottage
    padding: 80px 0

  .about-img .image
    max-width: 420px

  .logo-company
    max-width: 600px

  .accommodation-img
    width: 1100px

  .accommodation
    padding: 70px 0 0

    .box-text
      margin: 28px 0 40px

  .advantages-box h3
    font-size: 24px


  .sales-conditions-list__box
    padding: 0 60px 0 0

  .sales-conditions-list__box-two
    padding: 0 40px

  .sales-conditions-list__box-three
    padding: 0 0 0 40px

  .advantages-section__box
    h3
      font-size: 30px



  .location-content
    max-width: 540px
    padding: 40px 30px

  .location .tab-content
    width: calc(100% - 540px)



  .list-social
    margin: 0 30px 0 0

  .master-plan-box__head h2
    font-size: 30px



  .choosing-a-home__img
    min-width: 580px

  .choosing-a-home__content
    padding: 80px 40px 80px 350px

  .choosing-a-home h2
    font-size: 60px

  .choosing-a-home .box-text strong
    font-size: 20px

  .advantages-box
    br
      display: none

@media only screen and (max-width: 1360px)
  .container
    padding: 0 50px

  .advantages-section__bg
    width: calc(100% - 700px)

@media only screen and (max-width: 1280px)
  .container
    padding: 0 15px


  .master-plan-box__head
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    -webkit-box-align: start
    -ms-flex-align: start
    align-items: flex-start

    h2
      max-width: none
      -webkit-box-ordinal-group: 0
      -ms-flex-order: -1
      order: -1
      margin: 0 0 20px

  .square
    width: 100%
    margin: 0
    padding: 10px 0 0
    border: none
    border-top: 1px solid #ddda3c
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    -ms-flex-direction: row
    flex-direction: row
    -webkit-box-align: end
    -ms-flex-align: end
    align-items: flex-end
    display: -webkit-box
    display: -ms-flexbox
    display: flex

    .box-text
      max-width: 300px

  .master-plan-box
    padding: 30px 20px

    .box-text
      font-size: 18px

  .square-val
    font-size: 70px
    margin: 0 10px 0 0

    span
      font-size: 40px

  .location-content .box-text
    font-size: 22px


  .menu
    font-size: 16px

  .list-social
    margin: 0 20px 0 0

  .logo
    max-width: 170px

  .content
    padding: 88px 0 0

  footer .list-social
    margin: 0 20px 0 0

  .advantages-section__box
    max-width: 400px

  .advantages-section__bg
    width: calc(100% - 600px)


@media only screen and (max-width: 1200px)
  .logo
    max-width: 160px

  .menu
    font-size: 14px

    li
      margin: 0 15px 0 0

  .list-social li a
    width: 30px
    height: 30px
    padding: 5px

  .phone
    font-size: 16px

  h2
    font-size: 40px

  .home-slider-box__title
    font-size: 40px

  .home-slider .slick-dots
    bottom: 30px

  .master-plan-box .box-text
    font-size: 14px
    line-height: normal

  .about-content
    h3
      font-size: 22px


  .accommodation-content
    .box-text
      font-size: 20px

    h3
      font-size: 40px

  .advantages-box
    padding: 30px

    h3
      font-size: 20px

  .sales-conditions-wrapper h2
    font-size: 80px

  .bid
    font-size: 60px

  .sales-conditions-wrapper .box-text
    font-size: 20px

  .advantages-section
    &:before
      width: 267px
      height: 309px
      top: -40px

    &:after
      width: 270px
      height: 306px

  .location-content
    max-width: 400px

  .location
    .tab-content
      width: calc(100% - 400px)

  .content
    padding: 90px 0 0

  .subtitle-product
    font-size: 40px
    line-height: 1

  .master-plan-box__head h2
    font-size: 30px

  .news-box__body .box-text
    font-size: 18px

  .news-box-row
    .news-box__body
      padding: 20px
      width: calc(100% - 250px)
    .news-box__img
      width: 250px

  .advantages-section__bg
    max-width: none
    width: 100%
    position: relative

  .advantages-section__box
    max-width: none
    .box-text
      max-width: none

  .advantages-wrapper
    margin: 0 0 30px
    padding: 30px

  .choosing-a-home__content
    padding: 30px

  .choosing-a-home__img
    min-width: auto
    width: 100%
    margin: 30px 0 0

  .choosing-a-home
    padding: 30px 0
    h2
      font-size: 40px
    .box-text
      margin: 30px 0
      max-width: none

/* Medium Devices, Desktops
@media only screen and (max-width: 1100px)
  header .menu, footer .menu
    display: none

  header .logo, footer .logo
    margin: 0 auto 0 0

  .btn-burger
    display: -webkit-box
    display: -ms-flexbox
    display: flex

@media only screen and (max-width: 992px)
  .advantages-box
    h3
      min-height: auto

  .home-slider-box__title
    margin: 0 0 30px
    font-size: 50px

  .type-cottage__img
    width: 100%

  .type-cottage__content
    width: 100%
    padding: 30px 15px

  .square-product__btn
    position: relative
    left: 0
    top: 0
    display: inline-block
    margin: 0 10px 0 0

  .nav-tabs
    font-size: 20px

    .nav-link
      height: 70px

  .price
    font-size: 30px
    margin: 0 0 20px

  .about-content
    max-width: none
    width: 100%
    padding: 80px 40px 50px 0
    &:before
      height: 550px
    .box-text
      font-size: 16px
    h3
      margin: 0 0 30px

  .decor3
    right: -15px
    max-width: 100px

  .accommodation-img
    width: 100%
    margin: 0 -15px 0 15px

  .accommodation-content
    h3
      font-size: 30px

    .box-text
      font-size: 18px

      br
        display: none

  .advantages
    padding: 50px 0



  .distance
    margin: 40px auto 10px
    max-width: none
    font-size: 30px

  .location-content
    padding: 30px 15px
    width: 100%
    max-width: none

    .box-text
      font-size: 20px


  .location-content__wrapper
    max-width: none

  .location-map
    height: 500px

  .location .tab-content
    max-width: none
    width: calc(100% + 30px)
    margin: 0 -15px

  .sales-conditions-list__box
    padding: 0
    border: none
    .box-text
      max-width: none
      br
        display: none

  .sales-conditions-list__box-wrap
    max-width: none


  .sales-conditions-list__box-two
    padding: 0

  .sales-conditions-list__box-three
    padding: 0

  .location .nav-tabs

    .nav-item
      width: 25%
    .nav-link
      height: 100%

  .copyright
    margin: 20px auto 0
    text-align: center


  .master-plan-box
    position: relative
    left: 0
    bottom: 0
    &:before
      display: none

  .news-box__img
    height: 300px

  .news-box
    margin: 0 0 30px
    &:last-child
      margin: 0 0 30px

@media only screen and (max-width: 768px)
  footer
    padding: 20px 0 24px

  .master-plan
    margin: 0 0 40px

  h2, .master-plan-box__head h2
    font-size: 30px

  .news h2
    margin: 0 0 30px


  .choosing-a-home
    padding: 40px 0

  .square
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    -webkit-box-align: start
    -ms-flex-align: start
    align-items: flex-start

  .square-val
    font-size: 60px
    margin: 0 0 10px

    span
      font-size: 30px
      margin: 0

  .master-plan-box
    .box-text
      max-width: none

    padding: 20px 0

  .type-cottage h2
    margin: 0 0 30px

  .about-img .image
    max-width: 300px

  .decor2
    z-index: 0


  .sales-conditions-wrapper h2
    font-size: 60px

  .bid
    font-size: 30px

  .sales-conditions-wrapper
    padding: 40px 0 30px

  .list-bank
    padding: 10px
    -ms-flex-wrap: wrap
    flex-wrap: wrap

    .box-text
      width: 100%
      max-width: none
      text-align: center
      border: none
      border-top: 1px solid #000
      padding: 10px 0 0
      margin: 20px 0 0

  .type-cottage .nav-tabs .nav-item
    width: 50%

  .list-social li
    margin: 0 5px 0 0

  .location .nav-tabs .nav-item
    width: 50%
    flex: auto
    margin: 0
    border: none

  .location .nav-tabs
    flex-wrap: wrap

  .advantages-section__box h3
    font-size: 22px

/* Extra Small Devices, Phones
@media only screen and (max-width: 576px)
  .news-box
    width: 100%

  .home-slider-box__title
    font-size: 40px
    line-height: normal

  .home-slider-box__content
    padding: 200px 0 130px

  .nav-tabs .nav-item
    width: 33.3%
    -webkit-box-flex: 1
    -ms-flex: auto
    flex: auto

  .type-cottage__img
    height: 400px

  .about-img
    padding: 30px

  .logo-company
    max-width: 300px

  .about-img .image
    max-width: 200px

  .about-content .box-text
    font-size: 18px

  .type-cottage
    padding: 40px 0

  .accommodation-content h3
    font-size: 24px

  .location-map
    height: 400px

  .location .nav-tabs .nav-item
    width: 33.3%
    font-size: 16px

  header .list-social, footer .list-social
    display: none

  .subtitle-product
    font-size: 30px

  .copyright
    font-size: 10px

  .news-box-row
    display: flex
    flex-direction: column
    align-items: flex-start
    .news-box__img
      width: 100%
      height: 300px
    .news-box__body
      width: 100%

  .about
    padding: 0

  .about-content
    height: 100%
    padding-right: 0
    &:before
      width: 600px
      height: 100%
      right: auto
      left: -15px


@media only screen and (max-width: 480px)
  .logo
    max-width: 120px

  .phone
    font-size: 14px
    padding: 5px 10px

  .btn-burger
    width: 20px
    height: 14px
    margin: 0 0 0 10px

    span
      height: 2px

  .price-wrapper
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    -webkit-box-align: start
    -ms-flex-align: start
    align-items: flex-start

  .mortgage-val
    margin: 0 0 10px

  .nav-tabs .nav-item
    width: 50%

  .list-characteristics li
    width: 100%
    margin: 0 0 10px

  .btn-reserved
    font-size: 20px
    height: 50px

  .square-product__btn
    width: 30px
    height: 30px

  .type-cottage__img
    height: 300px


  .location-map
    height: 300px

  .distance
    font-size: 24px

  .location-content .box-text
    font-size: 18px


  .list-bank__item
    width: 50%
    margin: 0 0 10px

  .sales-conditions-wrapper
    h2
      font-size: 50px

    .box-text
      font-size: 18px

  .location .nav-tabs .nav-item
    width: 50%

  .content
    padding: 79px 0 0

  .choosing-a-home__content
    padding: 20px
    border-width: 5px

  .choosing-a-home .box-text strong
    font-size: 18px


/* Custom, iPhone Retina
@media only screen and (max-width: 360px)
  .phone
    font-size: 12px

  .logo
    max-width: 110px

  header
    padding: 15px 0 20px

  .decor1
    max-width: 120px

  .decor2
    max-width: 100px

  .decor3
    max-width: 80px

  .content
    padding: 60px 0 0

  .news-box__img
    height: 250px

  .news-box-row
    .news-box__img
      height: 250px